<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageName</key>
	<string>Base-1</string>
	<key>projectDescription</key>
	<string>Base is a post-pc CRM</string>
	<key>projectName</key>
	<string>Base</string>
</dict>
</plist>
