<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageNames</key>
	<array>
		<string>Base-1</string>
	</array>
	<key>projectDescription</key>
	<string>I&apos;ve started working at Base a year ago during holidays as an intern. I&apos;ve continued to work there part-time during studies. Base is a Post-PC company which trys to revolutionary sales process by providing best mobile apps in the market. Working there is definitely one of few live-changing moments as I meet there tens of incredible people.</string>
	<key>projectName</key>
	<string>Base</string>
</dict>
</plist>
