<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageNames</key>
	<array>
		<string>burglars-1</string>
		<string>burglars-2</string>
	</array>
	<key>projectDescription</key>
	<string>&apos;Burglars Night&apos; is a Tower-Defense game project. Defending your home from crafty burglars using porridge gun and garden water hose was super fun! Unfortunately, project has never been finished because lack of time.</string>
	<key>projectName</key>
	<string>Burglars Night</string>
</dict>
</plist>
