<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageNames</key>
	<array>
		<string>farm2-1</string>
		<string>farm2-2</string>
		<string>farm2-3</string>
	</array>
	<key>projectDescription</key>
	<string>Farm 2 is a time management game published by PlayWay. Gameplay involves taking care of up to nine farms at once and hunting for angry boars! I was the only iOS programmer in a team.</string>
	<key>projectName</key>
	<string>Farm 2</string>
</dict>
</plist>
