<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageNames</key>
	<array>
		<string>karatePandaiOS-1</string>
		<string>karatePandaiOS-2</string>
	</array>
	<key>projectDescription</key>
	<string>Karate Panda was originally written for PC but I&apos;ve decided to rewrite C++ code to Objective-C and publish it on App Store. I plan to release it this summer.</string>
	<key>projectName</key>
	<string>Karate Panda iOS</string>
</dict>
</plist>
