<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2009</string>
	<key>imageNames</key>
	<array>
		<string>karatePandaPC-1</string>
		<string>karatePandaPC-0</string>
	</array>
	<key>movie</key>
	<string>KaratePandaTrailer</string>
	<key>projectDescription</key>
	<string>Karate Panda game is my first graphical project developed while I was 16. It&apos;s also my first game which was published by Play in four Europe&apos;s countries. I finished it after one year and every day my passion to programming grew more and more.</string>
	<key>projectName</key>
	<string>Karate Panda</string>
</dict>
</plist>
