<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2012</string>
	<key>imageNames</key>
	<array>
		<string>krakjam-1</string>
	</array>
	<key>movie</key>
	<string>KrakJamTrailer.m4v</string>
	<key>projectDescription</key>
	<string>Global Game Jam 2012 is an annual game jam where teams consisted of 4 people create a game in 48 hours. Me and my friends from high school developed a simple iOS funny game. Nothing remarkable but working under high time pressure with great friends was incredible!</string>
	<key>projectName</key>
	<string>Global Game Jam 2012</string>
</dict>
</plist>
