<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<string>2013</string>
	<key>imageNames</key>
	<array>
		<string>leap-1</string>
	</array>
	<key>projectDescription</key>
	<string>I believe experimenting with new technologies is crucial to improving programmers skills. That&apos;s why I&apos;m in a developer program of Leap Motion - motion sense controller which will be for sale in Juny. Me and my friend are already experimenting with a pre-relase developer unit.</string>
	<key>projectName</key>
	<string>Leap Motion Game</string>
</dict>
</plist>
