<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectsList</key>
	<array>
		<string>KaratePandaPC</string>
		<string>Farm2</string>
		<string>KaratePandaiOS</string>
		<string>BaseCRM</string>
	</array>
</dict>
</plist>
